[Unit]
Description=meterN
After=network.target nginx.service php-fpm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/curl http://localhost/metern/scripts/bootmn.php
#ExecStart=/usr/bin/curl --insecure https://localhost/metern/scripts/bootmn.php
#ExecStart=/usr/bin/curl --insecure --user user:password -s https://localhost/metern/scripts/bootmn.php

[Install]
WantedBy=multi-user.target
